.Pokecard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  flex-basis: 23%;

  background: slategray;
  border: .1rem solid black;
  border-radius: .8rem;
  box-shadow: 0 .3rem .5rem rbga(0,0,0,.7);

}

.Pokecard--top-row {
  transform: translateY(-100vh);
}

.Pokecard--bottom-row {
  transform: translateY(100vh);
}

.Pokecard--img {
  width: 85%;
  margin: .5rem 0;
  object-fit: cover;
  object-position: center center;

  background: white;
}


@keyframes show {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}